@import "../../../assets/variables";

#presentation {
  background-color: $secondary-color-three;
  padding: $basic-space;
  margin: $basic-space 0;

  @media screen and (min-width: 720px) {
    margin: $basic-space $basic-space * 3.5;
    padding: $basic-space * 2;
  }

  h1 {
    margin-bottom: $basic-space * 1.5;
    font-weight: 500;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $basic-space;
    margin-bottom: $basic-space;

    @media screen and (min-width: 720px) {
      flex-direction: row;
      align-items: flex-end;
      margin-bottom: $basic-space * 2;
    }

    img {
      border-radius: 300px;
    }
  }

  p {
    background-color: $primary-color;
    padding: $basic-space;
    margin-bottom: $basic-space;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: $basic-space;

    input {
      background-color: $secondary-color-three;
      border: none;
      height: $title-bigger-size;
    }
  }

  button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 10rem;
    min-height: 2.5rem;
    padding: $half-space $basic-space;
    background-color: $brand-color;
    border: none;
    color: $primary-color;
    margin: 0.5rem 0;
  }
}
