@import "../../assets/variables";

header {
  margin: 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;

  .filters {
    background-color: $secondary-color-four;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: $basic-space;

    .search-input {
      border: none;
      width: 14rem;
    }
  }
}



.select-localisation {
  width: 14rem;
}

.select-contract {
  width: 6rem;
  align-content: center;
}

.offers-cards {
  width: 66%;
}

.card {
  margin: 1rem auto;
}

@media screen and (max-width: 720px) {

  .wrapper {
  .filters {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 1rem;

    .search-input { grid-area: 1 / 1 / 2 / 7;
    width: 100%; }
    .select-localisation {
      grid-area: 2 / 1 / 3 / 3;
      width: 100%;
    }
    .select-contract {
      grid-area: 2 / 3 / 3 / 5;
      width: 100%;
    }
    div {
      grid-area: 2 / 5 / 3 / 7;
      width: 100%;
      display: flex;
    }
  }
  }
  .offers-cards {
    width: 98%;
  }
}
