// we import the font and make it color variables
@font-face {
  font-family: "Jost";
  src: url(./Jost-Regular.ttf);
}

$font-stack: "Jost", sans-serif;
$font-color: #1a1510;

$font-size: 1rem;
$title-size: 1.25rem;
$title-bigger-size: 1.5rem;

// brand colors variables for buttons and footer
$brand-color: #c91961;
$brand-color-two: #98375f;
$brand-color-two-80percent: rgba(152, 55, 95, 0.8);

// background color and text color on buttons using brand-color as background
$primary-color: #f0f0f0;

// grey variations used on buttons, some components backgrounds, etc etc
$secondary-color: #404040;
$secondary-color-two: #b7b7b7;
$secondary-color-three: #c6c6c6;
$secondary-color-four: #e7e7e7;

// spot colors for candidate and consultant pages
$spot-false: #c53434;
$spot-true-consultant: #3443c5;
$spot-true-candidat: #4acd35;

// border radius
$border-radius: 10px;

// margin and padding
$basic-space: 1rem;

$half-space: calc($basic-space / 2);
