@import "../../assets/_variables.scss";

.footer {
  height: auto;
  width: 100%;
  height: 3rem;
  background-color: $brand-color;
  font-size: $font-size;
  display: flex;
  justify-content: space-between;
  color: $secondary-color-four;
  padding: $basic-space;

  .reseaux {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 4rem;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: $basic-space * 3;
  }

  @media screen and (max-width: 480px) {
    height: auto;
    width: 100%;
    background-color: $brand-color;
    font-size: $font-size;
    color: $secondary-color-three;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 0;

    .reseaux {
      flex-direction: row;
      order: 1;
    }

    .text {
      margin-top: 0px;
    }

    .mention {
      order: 2;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .text,
    .mention,
    .reseaux {
      align-items: center;
    }
  }
}
