@import "../../assets/_variables.scss";

.footer {
  position: absolute;
  height: auto;
  width: 100%;
  background-color: $brand-color;
  font-family: $font-stack;
  font-size: $title-bigger-size;
  display: flex;
  justify-content: space-around;
  color: $secondary-color-three;
  padding: $basic-space 0;
}

.reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mention {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .footer {
    position: absolute;
    height: auto;
    width: 100%;
    background-color: $brand-color;
    font-family: $font-stack;
    font-size: $font-size;
    color: $secondary-color-three;
    flex-direction: column;
  }

  .reseaux {
    flex-direction: row;
    order: 1;
  }

  .text {
    margin-top: 0px;
  }

  .mention {
    order: 2;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .text,
  .mention,
  .reseaux {
    align-items: center;
  }
}
