@import "./../../assets/variables";

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40.1rem;
  @media screen and (min-width: 750px) {
    .notFoundContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60rem;
      margin-bottom: 3.1rem;
    }
  }
}

.notFoundLottie {
  width: 20rem;
  height: 20rem;
  @media screen and (min-width: 750px) {
    .notFoundLottie {
      width: 60rem;
      height: 60rem;
    }
  }
}

.notFoundButton {
  cursor: pointer;
  align-self: center;
  width: 10rem;
  height: 2.5rem;
  background-color: $brand-color;
  border: none;
  color: $primary-color;
  margin: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @media screen and (min-width: 750px) {
    .notFoundButton {
      cursor: pointer;
      align-self: center;
      width: 10rem;
      height: 2.5rem;
      background-color: $brand-color;
      border: none;
      color: $primary-color;
      margin: 0.5rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
