@import "../../../assets/variables";

.companies-validation {
  margin: $basic-space * 2 auto;
  width: 50%;
  text-align: center;

  h1 {
    background-color: $secondary-color-four;
    padding: $basic-space * 2.5;
    font-weight: 500;
    margin-bottom: $basic-space * 2;
  }

  button {
    padding: $half-space * 1.5 $basic-space;
    border: none;
    background-color: $secondary-color-three;
    border-radius: 10px;
    font-size: $font-size;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: $basic-space * 2;
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    color: $brand-color;
  }

  table {
    // border-spacing: 2px 0;
    tbody {
      tr {
        background-color: $secondary-color-two;

        @media screen and (max-width: 920px) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          margin: 1px;
        }

        &:nth-child(1) {
          background-color: $secondary-color;
          color: $primary-color;
        }

        &:nth-child(2n) {
          background-color: $secondary-color-three;
        }

        th,
        td {
          padding: $basic-space * 2 $basic-space * 5;
          font-weight: 500;

          @media screen and (max-width: 920px) {
            padding: $basic-space;
            margin: 0;
          }
        }
      }
    }
  }

  /* Checkbox btn */
  .checkbox-label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 70px;
    height: 35px;
    border-radius: 35px;
    cursor: pointer;

    .checkbox {
      &-box {
        position: absolute;
        bottom: 100%;
        left: 0px;
        visibility: hidden;

        &:checked ~ .checkbox-cursor:before {
          left: 55%;
        }

        &:checked ~ .checkbox-cursor {
          background-color: $brand-color;
        }
      }

      &-cursor {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: grey;
        transition: background-color 0.5s ease-out;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 2px;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #fff;
          transition: left 0.2s ease-out, right 0.2s ease-out;
          transform: translateY(-50%);
        }
      }
    }
  }
}
