@import "../../assets/variables";

header {
  color: $font-color;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 10rem;
      margin-left: 1rem;
    }

    .burger {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: none;
      color: inherit;
    }

    .button {
      width: 10rem;
      height: 2.5rem;
      background-color: $brand-color;
      border: none;
      color: $primary-color;
      margin: 0.5rem;
      h1 {
        font-size: $font-size;
        font-weight: 500;
      }
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      background-color: $secondary-color-three;
      height: 2rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  header {
    .header {
      .logo {
        width: 7rem;
      }
      .burger {
        :hover {
          cursor: pointer;
        }

        .burger-bar,
        .burger-bar::before,
        .burger-bar::after {
          display: block;
          width: 30px;
          height: 3px;
          position: relative;
          border-radius: 3px;
          background-color: $secondary-color-three;
          transition: all 0.5s ease-in-out;
        }
        .burger-bar::before,
        .burger-bar::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burger-bar::before {
          transform: translateY(-12px);
        }

        .burger-bar::after {
          transform: translateY(12px);
        }
        .burger-bar-checked,
        .burger-bar-checked::before,
        .burger-bar-checked::after {
          display: block;
          width: 30px;
          height: 3px;
          position: relative;
          border-radius: 3px;
          background-color: $secondary-color-three;
          transition: all 0.5s ease-in-out;
        }
        .burger-bar-checked::before,
        .burger-bar-checked::after {
          content: "";
          position: absolute;
          left: 0;
        }
        .burger-bar-checked {
          width: 0;
          background-color: transparent;
        }
        .burger-bar-checked::before {
          transform: rotate(45deg);
        }
        .burger-bar-checked::after {
          transform: rotate(-45deg);
        }
      }
      .button {
        width: 8rem;
        h1 {
          font-size: 0.8rem;
        }
      }
    }

    nav {
      ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: -100vw;
        top: 2;
        height: 22rem;
        width: 0;
        padding: 2rem 0;
        visibility: hidden;
        background-color: $secondary-color-three;
        transition: all 0.8s ease-in-out;

        .list {
          display: block;
          font-size: $font-size;
          margin: 0;
        }

        .list::after {
          content: "";
          display: block;
          margin: 0.9rem auto;
          width: 7vw;
          height: 2px;
          background: $secondary-color;
        }

        .list:last-child:after {
          display: none;
        }
      }
      .show-nav {
        width: 100%;
        left: 0;
        visibility: visible;
      }
    }
  }
}
