@import "../../assets/_variables.scss";

.container-offer {
  background-image: url(../../assets/offers/bannerOffer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: fit-content;

  .banner_job-offer {
    display: flex;
    justify-content: space-between;
    margin: $basic-space * 0 $basic-space * 6;
    padding-top: 2rem;

    .title_job-offer {
      background-color: $secondary-color-four;
      width: 20rem;
      padding: 1rem;

      h2 {
        font-size: $title-size;
        font-family: $font-stack;
        padding-bottom: 0.5rem;
      }
      h3 {
        font-size: $font-size;
        padding-bottom: 0.5rem;
      }
      p {
        padding-bottom: 0.5rem;
        font-family: $font-stack;
      }
    }
    .buttons-offer {
      display: flex;
      flex-direction: column;
      margin-top: 3rem;
      margin-right: 4rem;

      .button-offer {
        background-color: $brand-color;
        border-radius: 3px;
        box-shadow: 0 10px 6px -6px #777;
        border: none;
        color: $primary-color;
        width: 15rem;
        height: 3rem;
        font-size: $title-size;
      }

      .heart-offer {
        background-color: transparent;
        border: none;
        padding-top: 2rem;
      }
      .heart-offer:hover {
        cursor: pointer;
      }
    }
  }

  .description_job-offer {
    background-color: $secondary-color-four;
    margin: $basic-space * 2 $basic-space * 6;
    padding: 1.5rem;

    h2 {
      font-size: $font-size;
      font-family: $font-stack;
      padding-bottom: 0.5rem;
    }

    p {
      padding-bottom: 2rem;
      font-family: $font-stack;
    }
    .align-offer {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .button-offer {
      font-size: $title-size;
      background-color: $brand-color;
      border-radius: 3px;
      box-shadow: 0 10px 6px -6px #777;
      border: none;
      color: $primary-color;
      width: 15rem;
      height: 3rem;
    }
  }

  .button-offer:hover {
    cursor: pointer;
  }

  .button-offer:active {
    transform: translateY(2px);
  }

  @media (max-width: 768px) {
    .banner_job-offer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding-top: 4rem;

      .title_job-offer {
        width: 20rem;
        padding: 1rem;
        box-shadow: 0 3px 10px 2px #777;
      }

      .buttons-offer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;
        margin-right: 0;

        .button-offer {
          width: 10rem;
        }

        .heart-offer {
          background-color: transparent;
          border: none;
          padding-top: 0;
        }
        .heart-offer:hover {
          cursor: pointer;
        }
      }
    }

    .description_job {
      margin: $basic-space * 2 $basic-space;
      box-shadow: 0 3px 10px 2px #777;

      .button {
        font-size: $font-size;
        height: 2.5rem;
        margin-bottom: 1.5rem;
      }
    }
  }
}
