@import "../../assets/_variables.scss";

.entreprise {
  display: flex;
  justify-content: flex-start;
  gap: $basic-space;
  width: 80%;
  margin: 1rem auto;
  background-color: $secondary-color-four;

  img {
    width: 30rem;
    height: 15rem;
    margin-right: $basic-space;
    padding: $basic-space;
  }
  .name_entreprise {
    width: 30rem;
    padding: $basic-space;
  }
  h2,
  p,
  a {
    padding-bottom: $basic-space;
  }
  h3 {
    padding: $basic-space;
  }
}

.offres_entreprise {
  margin: 1rem auto;
  width: 80%;

  .Liste_offres {
    margin: auto;
    width: 20rem;
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $basic-space * 2 $basic-space * 5;
    background-color: $secondary-color-three;

    &:nth-child(2n) {
      background-color: $secondary-color-four;
    }

    img {
      height: $title-bigger-size;
    }
  }
}

@media (max-width: 768px) {
  .entreprise {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0 3px 10px 2px #777;
    margin-bottom: $basic-space * 2;
    padding-bottom: $basic-space;
    img {
      width: 20rem;
      height: 10rem;
    }
    .name_entreprise {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    a {
      padding-bottom: 0;
    }
    h3 {
      align-self: center;
      padding: 0;
    }
  }

  .offres_entreprise {
    width: 90%;
    margin-top: 0;
    .Liste_offres {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $basic-space;
      width: 16rem;
    }
    p {
      padding: $basic-space;
      box-shadow: 0 3px 10px 2px #777;
    }
  }
}
