@import "../../assets/_variables.scss";

#company-management {
  .companyManag {
    display: flex;
    justify-content: center;
    font-style: $font-stack;
  }

  .rectangle {
    text-align: center;
    margin-top: $half-space;
    height: 7rem;
    width: 50rem;
    background-color: $secondary-color-three;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    select {
      background-color: $secondary-color-three;
      height: 5rem;
      width: 20rem;
      font-size: $font-size;
      font-family: $font-stack;
      text-align: center;
      border: none;
      outline: 0px;
      appearance: none;
      background-image: url("../../assets/icons/Triangle.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 8px) center;
      box-shadow: 0 10px 6px -6px #777;

      option {
        font-family: $font-stack;
        padding: 1rem;
      }
    }
    .bu {
      background-color: $secondary-color-three;
      height: 5rem;
      width: 20rem;
      border: none;
      margin-left: 1rem;
      font-size: $font-size;
      box-shadow: 0 10px 6px -6px #777;
    }
  }

  .infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: $basic-space * 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    width: 85%;
    height: 20rem;
    background-color: $secondary-color-two;
    img {
      height: 100%;
      width: 35%;
    }
    .column {
      width: 30rem;
      display: flex;
      flex-direction: column;
      margin-top: $basic-space;
      height: 100%;
      p {
        align-self: flex-start;
      }
    }

    .sector {
      margin-top: $basic-space;
    }
    .valid {
      margin-top: $basic-space;
      background-color: transparent;
      border: none;
      width: 5rem;
      padding: 0;
      justify-self: flex-end;
    }
    textarea {
      font-family: $font-stack;
      font-size: $font-size;
      width: 10%;
      margin-top: auto;
      margin-bottom: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border: none;
      height: 90%;
    }
  }

  table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    tr {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 1px;
    }
    &:nth-child(1) {
      background-color: $secondary-color;
      color: $secondary-color;
    }
    &:nth-child(2n) {
      background-color: $secondary-color-three;
    }
    th,
    td {
      padding: $basic-space * 2 $basic-space * 5;
      font-weight: 500;
    }
  }

  .end {
    align-self: flex-end;
    padding-bottom: 2rem;
  }

  .add_offer {
    color: $primary-color;
    margin-top: 2rem;
    background-color: $brand-color;
    height: 5rem;
    width: 20rem;
    border: none;
    border-radius: 5px;
    font-size: $title-size;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
